body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.list-display{
  display: inline-flex;
}
.item{
  margin: 10px;
  padding: 1rem;
}

.title-fade-in{
  opacity: 100%;
  animation-name: fade-in;
  animation-duration: 2s;
}

.title-fade-out{
  opacity: 0%;
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {opacity: 0%}
  to {opacity: 100%}
}

@keyframes fade-out {
  from {opacity: 100%}
  to {opacity: 0%}
}
.track{
  width: 250px;
  height: 250px;
  position: relative;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
}
.track-image{
  width: 250px;
  height: 250px;
}
.artist-image{
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.track-name{
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  width: 250px;
}
.track-icon{
  color: red;
  background-color: aqua;
}
